gin-config
tensorflow-datasets
setproctitle
scipy
meta-model@ git+git://github.com/jackd/meta-model.git
tfrng@ git+git://github.com/jackd/tfrng.git
wtftf@ git+git://github.com/jackd/wtftf.git
uuid
psutil
pyyaml
